<div class="container-fluid mt-4">
  <div class="card">
    <div class="card-header p-3">
      <div *ngIf="editIndex != -1 || detailIndex != -1 || formOpen; else tableHeader">
        <div class="row">
          <h2 class="col-md-10">{{getTitle()}}</h2>
          <button class="btn btn-sm btn-outline-primary col-md-2" (click)="onBackHandler()">Back</button>
        </div>
      </div>

      <ng-template #tableHeader>
        <div class="row">
          <h2 class="col-md-10">List Customer</h2>
          <button class="btn btn-primary col-md-2" (click)="onAddCustomerHandler()">Add Customer</button>
        </div>
      </ng-template>
    </div>
    <div class="card-text p-3">
      <div *ngIf="editIndex != -1 || formOpen">
        <app-customer-form (onSubmitCustomer)="onSubmitCustomerHandler($event)" [index]="editIndex" [customer]="editIndex != -1 ? customers[editIndex] : customer"></app-customer-form>
      </div>
      <div *ngIf="detailIndex != -1">
        <app-customer-detail [customer]="customers[detailIndex]" (onBackClick)="onBackHandler()"></app-customer-detail>
      </div>
      <app-customer-list *ngIf="editIndex == -1 && detailIndex == -1 && !formOpen" (onSelectedCustomer)="onSelectedCustomerHandler($event)" [customers]="customers"></app-customer-list>
    </div>
  </div>
</div>
